<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="layui.html" />
                <add value="wk5.html" />
                <add value="wk4.html" />
                <add value="wk3.html" />
                <add value="wk2.html" />
                <add value="wk1.html" />
                <add value="talk.html" />
                <add value="problems.html" />
                <add value="linux.html" />
                <add value="blog.html" />
                <add value="acm.html" />
                <add value="homepage.html" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
